.progress-bar {
  height: 30px;
  .bar-inner {
    position: relative;
    top: 13px;
    height: 4px;
    background: rgba(142, 142, 142, 0.3);
    .progress {
      position: absolute;
      height: 100%;
      background: #bcbcbc;
    }
    .progress-btn-wrapper {
      position: absolute;
      left: -8px;
      top: -13px;
      width: 30px;
      height: 30px;
      .progress-btn {
        position: relative;
        top: 10px;
        left: 7px;
        box-sizing: border-box;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #ffffff;
      }
    }
  }
}